{% extends 'desktop/base.html' %}

{% block title %}
Hey there!
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/desktop/index.css') }}">
{% endblock %}

{% block content %}
<div class="skyscraper container-fluid vcenter-p" id="header">
	<div class="text-center hcenter vcenter-c">
		<h1 class="brand"><img src="{{ url_for('static', filename='images/iluminar.128.png') }}" alt="" class="img"> iLuminar</h1>
		<div class="form-group input-group">
			<input type="search" name="" id="" class="form-control input-lg" placeholder="Search the course" size="75">
			<span class="input-group-btn"><button class="btn btn-default btn-lg"><i class="fa fa-fw fa-search fa-lg"></i></button></span>
		</div>
	</div>
</div>
{% endblock %}