{% extends 'desktop/base.html' %}

{% block title %}
Reset your Password
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/desktop/index.css') }}">
{% endblock %}

{% block content %}
<div class="container skyscraper vcenter-p">
	<div class="row">
		<div class="col-lg-4 col-md-5 vcenter-c col-center">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Reset Password
				</div>
				<div class="panel-body text-center">
					<form method="POST" class="form" id="reset-form">
						<div class="form-group input-group">
							<span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
							<input name="passwd" type="password" class="form-control" id="reset-passwd" placeholder="Choose Password" value="{{ email }}" autofocus required>
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
							<input name="conf-passwd" type="password" class="form-control" id="reset-conf_passwd" placeholder="Confirm Password" value="{{ email }}">
						</div>
						<input type="hidden" name="csrf_token" id="reset-token" value="{{ platform.CSRF_TOKEN }}">
						<input type="hidden" name="integrity" id="reset-integrity" value="{{ integrity }}">
						<div class="form-group text-center">
							<button class="btn btn-success btn-fluid " type="submit" id="reset-submit"><i class="fa fa-fw fa-refresh"></i> Reset</button>
						</div>
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								{% for category, message in messages %}
									<div class="alert alert-{{ category }}">
										<p>{{ message }}</p>
									</div>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/desktop/reset_password.js') }}"></script>
{% endblock %}