{% extends 'desktop/base.html' %}

{% block title %}
Sign up
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/desktop/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/desktop/signup.css') }}">
{% endblock %}

{% block content %}
<div class="container skyscraper vcenter-p">
	<div class="row">
		<div class="col-lg-4 col-md-5 vcenter-c col-center">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Sign up on {{ configs.SITE_NAME }}
				</div>
				<div class="panel-body text-center">
					<form method="POST" class="form" id="signup-form">
						<div class="form-group">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="form-group input-group">
										<span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
										<input name="firstname" type="text" class="form-control" id="signup-firstname" placeholder="Your First Name" value="{{ firstname }}" autofocus required maxlength="32">
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="form-group input-group">
										<span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
										<input name="lastname" type="text" class="form-control" id="signup-lastname" placeholder="Your Last Name" value="{{ lastname }}" required maxlength="32">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon"><i class="fa fa-fw fa-at"></i></span>
							<input name="email" type="email" class="form-control" id="signup-email" placeholder="Your Email Address" value="{{ email }}" required maxlength="128">
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
							<input type="password" name="passwd" id="signup-passwd" class="form-control" placeholder="Your Password" value="" required>
						</div>
						<div class="text-right">
							<a href="{{ url_for('reset:request') }}"><i class="fa fa-fw fa-refresh"></i> Reset Password</a>
						</div>
						<input type="hidden" name="csrf_token" id="signup-token" value="{{ platform.CSRF_TOKEN }}">
						<div class="form-group text-center">
							<button class="btn btn-success btn-fluid " type="submit" id="signup-submit"><i class="fa fa-fw fa-user-plus"></i> Sign up</button>
						</div>
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								{% for category, message in messages %}
									<div class="alert alert-{{ category }}">
										<p>{{ message }}</p>
									</div>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</form>
					<hr>
					<p>
						or connect using these
					</p>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<a class="btn google-btn btn-fluid btn-block" href="{{ oauth.google }}"><i class="fa fa-fw fa-google"></i>Google</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<a class="btn facebook-btn btn-fluid btn-block" href="{{ oauth.facebook }}"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
							</div>
						</div>
					</div>
					<p class="text-muted small">
						By signupg up, you agree to our <a href="{{ url_for('terms') }}">Terms of Service</a>, and <a href="{{ url_for('privacy') }}">Privacy Policy</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/desktop/signup.js') }}"></script>
{% endblock %}