{% extends 'desktop/base.html' %}

{% block title %}
You searched for "{{ query }}"
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/desktop/search.css') }}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="col-lg-3 col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Search Filters
				<button type="button" class="panel-btn btn btn-default btn-sm pull-right" data-open="1">
					<i class="fa fa-fw fa-minus"></i>
				</button>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label>Source</label>
					<select name="source" id="" class="selectpicker" data-size="2" data-style="btn-default btn-sm" data-width="100%">
						<option value="user" selected> User</option>
						<option value="post"> Post</option>
					</select>
				</div>
				<div class="form-group">
					<label>Post Type</label>
					<select id="" data-size="3" class="selectpicker" data-style="btn-default btn-sm" data-width="100%">
						<option value="text" data-icon="fa fa-fw fa-font">Text</option>
						<option value="media" data-icon="fa fa-fw fa-camera-retro">Media</option>
						<option value="canvas" data-icon="fa fa-fw fa-quote-left">Canvas</option>
					</select>
				</div>
				<div class="form-group">
					<label>Media Type</label>
					<select id="" data-size="3" class="selectpicker" data-style="btn-default btn-sm" data-width="100%">
						<option value="image" data-icon="fa fa-fw fa-camera-retro">Picture</option>
						<option value="audio" data-icon="fa fa-fw fa-headphones">Songs</option>
						<option value="video" data-icon="fa fa-fw fa-video-camera">Video</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6">
		<h2>You searched for "{{ query }}"</h2><br>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						<p>{{ message }}</p>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block search_content %}
			{% if source == 'user' %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-fw fa-users"></i> Users
					</div>
					<div class="panel-body">
						{% if result|length > 0 %}
							{% for user in result %}
								{% with user = user %}
									{% include 'desktop/modules/stack.minimal.html' %}
								{% endwith %}
							{% endfor %}
						{% else %}
							<p class="text-center">
								We couldn't find any user the matched the post.
							</p>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endblock %}
	</div>
	<div class="col-lg-3 col-md-3"></div>
</div>
{% endblock %}
